.w3-theme-l5 {color:#000 !important; background-color:#e8ecff !important}
.w3-theme-l4 {color:#000 !important; background-color:#b4c0ff !important}
.w3-theme-l3 {color:#fff !important; background-color:#6881ff !important}
.w3-theme-l2 {color:#fff !important; background-color:#1d42ff !important}
.w3-theme-l1 {color:#fff !important; background-color:#0023d0 !important}
.w3-theme-d1 {color:#fff !important; background-color:#001477 !important}
.w3-theme-d2 {color:#fff !important; background-color:#00126a !important}
.w3-theme-d3 {color:#fff !important; background-color:#000f5d !important}
.w3-theme-d4 {color:#fff !important; background-color:#000d50 !important}
.w3-theme-d5 {color:#fff !important; background-color:#000b42 !important}

.w3-theme-light {color:#000 !important; background-color:#e8ecff !important}
.w3-theme-dark {color:#fff !important; background-color:#000b42 !important}
.w3-theme-action {color:#fff !important; background-color:#000b42 !important}

.w3-theme {color:#fff !important; background-color:#001685 !important}
.w3-text-theme {color:#001685 !important}
.w3-border-theme {border-color:#001685 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#001685 !important}
.w3-hover-text-theme {color:#001685 !important}
.w3-hover-border-theme:hover {border-color:#001685 !important}