<div class="w3-padding w3-theme-l3">
	<p>
		<div class="w3-xlarge">
			About Us
		</div>
		Eclipse Data Solutions is Business process transformation and outsourcing partner equipped with the right people and tools.
	</p>
	<p>
		<div class="w3-xlarge">
			Mission and Goals
		</div>
		<p>
			Our mission is to help clients achieve their goals by virtue of our people, serive and Solutions.
		</p>
		<p>
			Our goal is to be global respected Business Process Transformation partner and we plan to achieve this by mean of
			<ul>
				<li>Cost effective approach</li>
				<li>Understand client need before proposing solution</li>
				<li>Zero distance approach providing constant feedback and improvements iteration</li>
				<li>Best in class Technology and People</li>
				<li>Long term Partnership</li>
			</ul>
		</p>
	</p>
	<p>
		<div class="w3-xlarge">
			Contact Us
		</div>
		<table class="w3-theme-l3">
			<tr>
				<td class="fa fa-envelope w3-large w3-container"></td>
				<td class="w3-container">eclipseedatasolutions@gmail.com</td>
			</tr>
			<tr>
				<td class="fa fa-phone-square w3-large w3-container"></td>
				<td class="w3-container">
					(+91) 818 122 8500<br/>
					(+91) 819 747 5200<br/>
					(+91) 886 111 1110<br/>
				</td>
			</tr>
		</table>
			
	</p>
</div>