<div class="w3-theme-l3 w3-padding">
	<div class="w3-xlarge">
		Our Happy clients
	</div>
	<div class="w3-row">
		<div class="w3-col l6 w3-padding">
			<div class="w3-center">
				<img src="img/indianmoney-com-logo.png" style="max-width:70%"/>
			</div>
			<p>
				IndianMoney.com provide FREE financial advice / education to ensure that you are not misguided while buying any kind of financial products
			</p>
		</div>
		<div class="w3-col l6 w3-padding">
			<div class="w3-center">
				<img src="img/LogoJkNew.png" style="max-width:70%"/>
			</div>
			<p>
				JK SOFTECH Pvt. Ltd., is an ISO 9001:2008 Certified Information Technology Company.
				JK Softech is into providing consultancy and outsourcing Services primarily in the niche segments of ERP, Co-Operative Banking Solutions, Telecommunication solutions, Internet Application Software and Field support services
			</p>
		</div>
	</div>
</div>