<div class="w3-padding w3-theme-l3">
	<p>
		<div class="w3-xlarge">
			Our Service
		</div>
		We here at Eclipsee Data Solutions provide Technology driven survives across streams.
	</p>
	<p>
		<div class="w3-row">
			<div class="w3-col l6 w3-padding">
				<div class="w3-xlarge w3-text-orange">
					Data Services
				</div>
				<ul class="w3-ul">
					<li>Data Validation</li>
					<li>Data Transformations</li>
					<li>Data Entry Services</li>
					<li>Content Creation</li>
					<li>Big Data Analysis</li>
					<li>Market Research</li>
				</ul>
			</div>
			<div class="w3-col l6 w3-padding">
				<div class="w3-xlarge w3-text-orange">
					Business Process Services
				</div>
				<ul class="w3-ul">
					<li>Inbound and Outbound Calls</li>
					<li>Back Office Support</li>
					<li>Brand Building</li>
					<li>Online and Offline Marketing</li>
					<li>E-Catalogue Maintenance</li>
					<li>Social Media Management</li>
					<li>Process Automation</li>
				</ul>
			</div>
		</div>
	</p>
</div>